<div class="contents">
  <div class = "contents-kid">
  <% @arts.each do |art| %>
      <div class="title">
        <%# art.title %>
        <%= link_to art.title, art_path(art.id), method: :get %>
      </span>
  <% end %>
  </div>
</div>