<div class="contents">
  <% @arts.each do |art| %>
    <%# div class="content_post" style="background-image: url(<%= title.image) %>
      <span class="title">
        <%= art.title %>
      </span>
    </div>
  <% end %>
</div>