<div class="show-contents">
  <div class="more">
    <%= @art.title %>
    <div class="memo">
      <%= @art.memo %>
    </div>
    <div class = "image">
      <%= image_tag @art.image.variant(resize: '500x500'), class: 'art-image' %>
    </div>
  </div>
</div>