<div class="contents row">
    <div class="more">
      <span><%# image_tag 'arrow_top.png' %></span>
      <ul class="more_list">
        </li>
        <li>
          <%# link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @art.title %></p>
    <span class="name"><%= @art.memo %>
    </span>
</div>