<div class="contents">
  <div class="posted-content">
    <div class="title-content">
      <%= @art.title%><br>
    </div>
    <div class="memo-content">
      <%= @art.memo%><br>
    </div>

    <div class="other-images">
      <% @art.images.each do |image| %>
        <div class="other-image">
        <%= link_to image, "data-lightbox": image do %>
            <%= image_tag image.variant(resize: '1000x1000') %>
        <%end%>
        </div>
      <%end%>
    </div>

  </div>
</div>