*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}


.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}


h1,h2,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/*ヘッダー*/

.header{
  background: linear-gradient(180deg, #fff3de 0%, #fff5e3 50%, #aeac78 50%, #aeac78 100%) ;
  height: 165px;
  width: 100%;
  text-align: center;
  border: 4px solid #5f2b2b;
  position: relative;
  background-size: auto 157px;
  background-image: url(eyelevel-background.jpg)
}



a.main-title{
  font-size: 40px;
  text-decoration: none;
  color: #D56F68;
  margin-bottom: 15px;
  font-family: "Sawarabi Mincho";
  transition: .3s;
}

a.main-title span {
  display: inline-block;
}
a.main-title:hover span {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
  transition: .6s;
  color: #eb6d9a;
}
a.main-title:hover span:nth-of-type(1) {
  -webkit-transition-delay: .02s;
  transition-delay: .02s;
}
a.main-title:hover span:nth-of-type(2) {
  -webkit-transition-delay: .04s;
  transition-delay: .04s;
}
a.main-title:hover span:nth-of-type(3) {
  -webkit-transition-delay: .06s;
  transition-delay: .06s;
}
a.main-title:hover span:nth-of-type(4) {
  -webkit-transition-delay: .08s;
  transition-delay: .08s;
}
a.main-title:hover span:nth-of-type(5) {
  -webkit-transition-delay: .10s;
  transition-delay: .10s;
}

a.post{
  font-weight: bold;
  color: #657d5f;
  border-bottom: 5px solid #385840;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #fff5be;
  font-family: "Sawarabi Mincho";
}

a.post:hover{
  color: #556b4f;
  margin-top: 4px;
  background: #ebe1ad;
  border-bottom: 1px solid #385840;
}




a.logout {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

a.logout span {
  position: relative;
}

a.logout:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #869fbe;
}

a.logout:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}



a.new {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

a.new span {
  position: relative;
}

a.new:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #f3aa96;
}

a.new:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}



a.in {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

a.in span {
  position: relative;
}

a.in:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #717d9a;
}

a.in:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}



a.up {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

a.up span {
  position: relative;
}

a.up:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #a675a5;
}

a.up:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}



.header-login{
  display: flex;
}

.nickname{
  font-size: 20px;
  color: #6d593e;
  font-family: "Sawarabi Mincho";
  position: absolute;
  top: 18px;
  right: 20px;
}

.nickname:hover{
  color: #5b6d2f;
}


/*トップページ*/

.contents{
  background: repeating-linear-gradient(to right, #fff3de, #fff3de 7px, #BEC6AB 6px, #BEC6AB 22px);
  min-height: 100vh;
  display: flex;
}

.contents-kid{
  background-image: url(0670_yagasuri_l.jpg);
  background-size: auto 200px;
  padding: 0 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
}

.art{
  background-color: #ffffff;
}

.gallery{
  font-size: 40px;
  color: #5b4b36;
  margin: 30px auto;
  width: 80%;
  font-family: "Sawarabi Mincho";
}

.art-title{
  background: linear-gradient(140deg, #ece4e1 0%, #ece4e1 50%, #eac5b6 50%, #eac5b6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0a480;
  font-size: 20px;
  width: 50%;
  border-radius: 30px;
  margin: 5px auto;
  color: #5b4b36;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Sawarabi Mincho";
}



.art-image{
  width: 90%;
  margin: 10px auto;
}

.art-image2{
  width: 70%;
}


/*新規投稿ページ*/

.container{
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
  color: #5b4b36;
  background-image: url(0670_yagasuri_l.jpg);
  background-size: auto 200px;
}

.sinki{
  font-size: 40px;
  margin: 30px auto;
  font-family: "Sawarabi Mincho";
}

.title-form{
  font-size: 30px;
  margin-bottom: 30px;
  width: 70%;
  height: 50px;
  border: 4px solid #7a5b63;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  padding: 30px;
  font-family: "Sawarabi Mincho";
}


.memo-form{
  font-size: 30px;
  margin-bottom: 50px;
  width: 80%;
  height: 400px;
  border: 4px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  margin: 2em 0;
  padding: 30px;
  font-family: "Sawarabi Mincho";
}

.click-upload{
  font-family: "Sawarabi Mincho";
}

.image-file{
  margin-bottom: 50px;
}

.send{
  color: #ffffff;
  border-bottom: 5px solid #82636b;
  padding: 10px auto;
  text-decoration: none;
  background-color: #B67D86;
  font-size: 30px;
  margin-bottom: 50px;
  width: 300px;
  font-family: "Sawarabi Mincho";
}

.send:hover{
  color: #e5e5e5;
  margin-top: 4px;
  background: #a06b73;
  border-bottom: 1px solid #385840;
}


.image-delete-button{
  border: 1px solid #000000;
  margin: 0 auto 20px;
  width: calc(100% - 500px);
  font-family: "Sawarabi Mincho";
}

.art-box .art {
  width: 80%;
  border: 4px solid #966f78;
  padding: 15px 30px;
  margin: 0 auto 40px auto;
  position:relative;
}

  .art-box .art::before {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      content:"";
      background:
          linear-gradient(to right, #e5a199, #e5a199 33.33%, transparent 33.33%, transparent 66.66%, #e5a199 66.66%, #e5a199) 100% 0 / 300% 5px no-repeat,
          linear-gradient(to bottom, transparent, transparent 33.33%, #e5a199 33.33%, #e5a199 66.66%, transparent 66.66%, transparent) 100% 100% / 5px 300% no-repeat,
          linear-gradient(to right, #e5a199, #e5a199 33.33%, transparent 33.33%, transparent 66.66%, #e5a199 66.66%, #e5a199) 0 100% / 300% 5px no-repeat,
          linear-gradient(to bottom, transparent, transparent 33.33%, #e5a199 33.33%, #e5a199 66.66%, transparent 66.66%, transparent) 0 0 / 5px 300% no-repeat;
      opacity:0;
      animation:move 2s linear infinite;
      transition:opacity 0.3s;
      z-index: 0;
      pointer-events:none;
  }

  .art-box .art:hover::before {
      opacity:1;
  }

  @keyframes move {
      0%   { background-position:100% 0, 100% 100%, 0 100%, 0 0; }
      100% { background-position:0 0, 100% 0, 100% 100%, 0 100%; }
  }

.delete-acount{
  font-size: 25px;
  color: #2b325f;
  margin: 30px auto;
  font-family: "Sawarabi Mincho";
}

/*詳細ページ*/

.posted-content{
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  min-height: 100vh;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
  font-size: 40px;
  font-family: "Sawarabi Mincho";
  color: #5b4b36;
}

.user-content{
  margin-top: 10px;
  font-size: 20px;
  color: #473e6d;
  text-decoration: none;
}

.link{
  text-decoration: none;
  margin-top: 10px;
  font-size: 20px;
  color: #473e6d;
  text-decoration: none;
}

.link:hover{
  color: #ca4549;
}


.other-image{
  margin: 20px auto;
}

.preview-image{
  width: 80%;
}

.SNS-btn{
  display: flex;
  margin: 0 auto;
}

a.btn-sns {
  margin: 20px auto;
  font-size: 2.4rem;
  line-height: 50px;

  width: 45px;
  height: 45px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--twitter {
  background: #1da1f2;
}


.line-it-button{
  margin: 20px 10px;
}

.icon-image{
  margin: 0 auto;
  width: 50%;
}

a.edit{

  width: 300px;
  margin: 0 auto 30px;
  overflow: hidden;


  padding: 1.5rem 6rem;

  color: #ffffff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

.edit span {
  position: relative;
}

a.edit:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #e7d557;
}

a.edit:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}





a.delete{
  width: 300px;
  margin: 0 auto 30px;
  overflow: hidden;


  padding: 1.5rem 6rem;

  color: #ffffff;
  border-radius: 0;
  background: #64585c;
  border-radius: 5px;
  font-family: "Sawarabi Mincho";
}

.delete span {
  position: relative;
}

a.delete:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: 100px;

  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-80%) translateY(-25px);
  transform: translateX(-80%) translateY(-25px);

  border-radius: 50%;
  background: #95a69c;
}

a.delete:hover:before {
  width: 400px;
  height: 400px;

  -webkit-transform: translateX(-1%) translateY(-175px);

  transform: translateX(-1%) translateY(-175px);
}

/*新規登録*/
.field{
  font-size: 20px;
  padding: 30px;
  font-family: "Sawarabi Mincho"
}

.sign-form{
  margin-top: 5px;
  font-size: 15px;
  width: calc(100% - 80px);
  height: 40px;
  border: 2px solid #82636b;
  padding: 10px;
  font-family: "Sawarabi Mincho"
}

.profile-image{
  font-size: 25px;
  font-family: "Sawarabi Mincho"
}

.footer{
  background-color: #ffffff;
  border-top: 2px solid #82636b;
  text-align: center;
  color: #82636b;
  font-family: "Sawarabi Mincho";
  font-weight: bold;
}