*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;/*rem算出をしやすくするために*/
}

.wf-sawarabimincho { font-family: "Sawarabi Mincho"; }

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}


body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}


h1,h2,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/*ヘッダー*/

.header{
  border-bottom: 5px solid #5b5b5b;
  background: linear-gradient(180deg, #fff3de 0%, #fff5e3 50%, #aeac78 50%, #aeac78 100%) ;
  height: 160px;
  width: 100%;
  text-align: center;

}

a.main-title{
  font-size: 40px;
  text-decoration: none;
  color: #D56F68;
  font-family: "Sawarabi Mincho"
}

a.main-title:hover{
  font-size: 40px;
  text-decoration: none;
  color: #D14047;
}

a.post{
  font-weight: bold;
  color: #657d5f;
  border-bottom: 5px solid #385840;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #fff5be;
  font-family: "Sawarabi Mincho"
}

a.post:hover{
  color: #556b4f;
  margin-top: 4px;
  background: #ebe1ad;
  border-bottom: 1px solid #385840;
}

a.logout{
  font-weight: bold;
  color: #ece2d7;
  border-bottom: 5px solid #1b1416;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #775760;
  font-family: "Sawarabi Mincho"
}

a.logout:hover{
  color: #f879b6;
  margin-top: 4px;
  background: #5d4149;
  border-bottom: 1px solid #1b1416;
}


/*トップページ*/

.contents{
  background: repeating-linear-gradient(to right, #fff3de, #fff3de 7px, #BEC6AB 6px, #BEC6AB 22px);
  min-height: 100vh;
  display: flex;
}

.contents-kid{
  background-color: rgb(255, 255, 255);
  padding: 50px 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
}

.art-title{
  background: linear-gradient(140deg, #ece4e1 0%, #ece4e1 50%, #eac5b6 50%, #eac5b6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c0a480;
  font-size: 20px;
  width: 80%;
  border-radius: 30px;
  margin: 0 auto;
  color: #5b4b36;
  margin-bottom: 10px;
  text-decoration: none;
  font-family: "Sawarabi Mincho"
}



.art-image{
  width: 100%;
}

.art-image2{
  width: calc(100% - 200px);
}

/*新規投稿ページ*/

.container{
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  min-height: 100vh;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
  color: #5b4b36;
}

.sinki{
  font-size: 40px;
  margin: 30px auto;
  font-family: "Sawarabi Mincho"
}

.title-form{
  font-size: 30px;
  margin-bottom: 30px;
  width: 500px;
  height: 50px;
  border: 4px solid #7a5b63;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  padding: 30px;
  font-family: "Sawarabi Mincho"
}


.memo-form{
  font-size: 30px;
  margin-bottom: 50px;
  width: 600px;
  height: 400px;
  border: 4px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  margin: 2em 0;
  padding: 30px;
  font-family: "Sawarabi Mincho"
}

.image-file{
  margin-bottom: 50px;
}

.send{
  font-weight: bold;
  color: #ffffff;
  border-bottom: 5px solid #82636b;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #B67D86;
  font-size: 30px;
  margin-bottom: 50px;
  width: 400px;
  font-family: "Sawarabi Mincho"
}

.send:hover{
  color: #e5e5e5;
  margin-top: 4px;
  background: #a06b73;
  border-bottom: 1px solid #385840;
}

.image-delete-button{
  border: 1px solid #000000;
  margin: 0 auto 20px;
  width: calc(100% - 500px);
  font-family: "Sawarabi Mincho"
}

.art-box .art {
  border: 4px solid #966f78;
  margin: 0em -2em;
  padding: 15px 30px;
  margin: 0 50px 40px 50px;
  position:relative;
}

  .art-box .art::before {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      content:"";
      background:
          linear-gradient(to right, #e5a199, #e5a199 33.33%, transparent 33.33%, transparent 66.66%, #e5a199 66.66%, #e5a199) 100% 0 / 300% 5px no-repeat,
          linear-gradient(to bottom, transparent, transparent 33.33%, #e5a199 33.33%, #e5a199 66.66%, transparent 66.66%, transparent) 100% 100% / 5px 300% no-repeat,
          linear-gradient(to right, #e5a199, #e5a199 33.33%, transparent 33.33%, transparent 66.66%, #e5a199 66.66%, #e5a199) 0 100% / 300% 5px no-repeat,
          linear-gradient(to bottom, transparent, transparent 33.33%, #e5a199 33.33%, #e5a199 66.66%, transparent 66.66%, transparent) 0 0 / 5px 300% no-repeat;
      opacity:0;
      animation:move 2s linear infinite;
      transition:opacity 0.3s;
      z-index: 0;
      pointer-events:none;
  }

  .art-box .art:hover::before {
      opacity:1;
  }

  @keyframes move {
      0%   { background-position:100% 0, 100% 100%, 0 100%, 0 0; }
      100% { background-position:0 0, 100% 0, 100% 100%, 0 100%; }
  }


/*詳細ページ*/

.posted-content{
  background-color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  min-height: 100vh;
  border-left:7px solid #e5a199 ;
  border-right: 7px solid #e5a199;
  font-size: 40px;
  font-family: "Sawarabi Mincho";
  color: #5b4b36;
}

.other-image{
  margin: 20px auto;
}

.preview-image{
  width: 700px;
}


.edit{
  margin: 0 auto;
  font-weight: bold;
  color: #e5e5e5;
  border-bottom: 5px solid #7c545e;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #f3adc8;
  font-size: 30px;
  margin-bottom: 50px;
  width: 400px;
}

.edit:hover{
  color: #e5e5e5;
  margin-top: 4px;
  background: #cc85a0;
  border-bottom: 1px solid #7c545e;
}

.delete{
  margin: 0 auto;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 5px solid #000000;
  padding: 10px 100px;
  text-decoration: none;
  background-color: #7e8596;
  font-size: 30px;
  margin-bottom: 50px;
  width: 400px;
}

.delete:hover{
  color: #e5e5e5;
  margin-top: 4px;
  background: #646a7a;
  border-bottom: 1px solid #000000;
}

/*編集ページ*/

